@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Task Management System</p>
</div>
<div class="text-center">
    <p>
        <a class="btn btn-primary" href="/Task/Index">Manage Your Tasks</a>
    </p>
</div>
