
<div class="text-center">
    <h1>Task Management System</h1>
    <div>
        <p>This project is for educational purposes only.</p>
    </div>
</div>
<div class="text-center">
    <p>
        <a class="btn btn-primary" href="/Task/Index">Manage Your Tasks</a>
    </p>
</div>
