
<form action="\Dept\SaveDept" method="post">
    <table class="table">
        <tr>
            <td>Department Name</td>
            <td>
                <input type="text" name="name" placeholder="Enter Department Name"/>
            </td>
        </tr>
        <tr>
           <td>Department Manager</td>
           <td><input type="text" name="ManagerName" placeholder="Enter Department manager Name"/></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Save" class="btn btn-success"/>
            </td>
        </tr>
    </table>
</form>
