@model List<Instructor>

@{
    ViewBag.Title = "Index";
}
<table class="table table-bordered table-hover" width="50%">
<thead>
        <tr>
            <th>Department Name</th>
            <th>Department Department ID</th>
            <th>Department Location</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.DeptId</td>
                <td>@item.Address</td>
            </tr>
        }
    </tbody>
</table>